@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin: 1rem;
}

.card {
  flex-basis: 31%;
  margin: 1rem 0.4rem;
  padding: 1rem 0.4rem 2.5rem 0.4rem;
  border: solid 1px lightgrey;
  border-radius: 15px;
  box-shadow: 3px 2px 6px lightgrey;
}

.card__email {
  font-size: 1rem;
}

.form-wrapper {
  font-size: 18px;
  max-width: 768px;
  margin: 2rem auto;
  padding: 2rem;
  border: solid 1px lightgrey;
  border-radius: 15px;
  box-shadow: 3px 2px 6px lightgrey;
}

label,
input {
  margin-top: 5px;
  display: block;
  font-size: inherit;
  width: 100%;
}

input[type="text"] {
  padding: 0.25rem;
}

input[type="submit"] {
  background-color: lightgrey;
  border: none;
  padding: 0.375rem 1rem;
  margin-top: 10px;
}

button {
  margin-top: 20px;
  display: inline-block;
  outline: none;
  padding: 16px 20px;
  background-color: #ff7a59;
  color: #ffffff;
  border: 1px solid #ff7a59;
  transition: all ease-in-out 500ms;
}

button:hover {
  background-color: #fff;
  color: #ff7a59;
  border: 1px solid #ff7a59;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}

.link-page {
  margin-bottom: 20px;
  display: block;
}
